{% extends 'layouts/layout.html' %}


{% block body %}
    <h1>GitMatched</h1>
    <br>
    <form role="form" method="post" onsubmit="return false;">
        <div class="form-group">
            <input type="text" class="form-control" name="location" placeholder="Enter a location" required>
            <input type="text" class="form-control" name="language" placeholder="Enter a programming langauge" required>
        </div>
        <button type="submit" class="btn btn-primary">Find a developer!</button>
        <button type="submit" class="btn btn-success" id="try-again">Try a different location</button>
    </form>
    <br>
    <div id="results"></div>
{% endblock %}

{% block scripts %}
    <script src= {{ url_for('static', filename='js/github.js') }}></script>
{% endblock %}