<!DOCTYPE html>
<html>

<head>
    <title>Flask example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        .container {
            max-width: 500px;
            padding-top: 20px;
        }

        input {
            max-width: 200px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class=metanav>
            {% if not session.logged_in %}
                <a href="{{ url_for('login') }}">log in</a>
            {% else %}
                <a href="{{ url_for('logout') }}">log out</a>
            {% endif %}
        </div>

        <!-- render flash messages if any -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block body %} {% endblock %}
    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% block scripts %} {% endblock %}
    <!--<script src= {{ url_for('static', filename='js/app.js') }}></script>-->


</body>

</html>